  *{font-family: cinzel, sans-serif;
  padding: 4px;
  margin-top: 4px;
  }
  .meu-cabeçalho{
  
    width: 100%;
    height: 80px;
    background-color: #c03030;
    display: flex;
    justify-content: center;
   
  
}

.meu-cabeçalho h1{
    color: rgb(255, 251, 12);
font-size: 40px;

}